 *, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.alert {
    background-color: rgb(185, 173, 120);
    color: white;
    text-align: center;
    font-size: 1rem;
    padding: 10px 2px;
}
.alert a {
    color: white
}
/* Section 1 */
#main1 {
    height: 70vh;
    background-image: url(/images/caleb-woods-qrMLvb60_rg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 25%;
    color: white;
    position: relative;
    overflow-y : hidden;
}
.header  {
    border-bottom: 3px solid rgb(187, 179, 179);
    padding: .8rem;
    background-color: black;
    color: white
}
.header, .header ul, .icons, .button-container {
    display: flex;
}
.header {
    margin: 0
}
.header ul li {
    list-style: none;
    margin-right: 1.5rem;
    font-size: 1.1rem
}
.header ul li a {
    text-decoration: none;
    color: white
}
.logo {
    margin-left: 4rem;
    margin-right: 2rem
}
.logo i {
    font-size: 1.3rem !important;
    margin-right: 1.5rem
}
.icons, .searchbar {
    margin-right: 1rem
}
.icons i {
    font-size: 1.1rem;
    margin-right: .5rem
}
.searchbar {
    display: flex;
    font-size: .7rem;
    margin-left: auto;
    height: 1.6rem;
    width: 20%
}
.title {
    margin-top: 12%;
    text-transform: uppercase;
    text-align: right;
}
.title h1 {
    font-size: 3rem;
    color: grey
}
.title h5 {
    color: grey;
    font-size: 1.2rem
}
button {
    /* margin-left: 1rem; */
    background-color: white;
    border: none;
    padding: 7px;
    font-weight: 700;
    margin-top: 1rem
}
.first-button {
    margin-right: -4rem
}
.searchbar {
    border: 2px solid #DDD;
    padding: 2px;
    background-color: transparent
}
.searchbar i {
    margin: 5px 10px;
    font-size: .8rem
}
input {
    border: none;
    font-size: 1.2rem;
    background-color: transparent;
}
input:focus {
    border: none
}
/* 2nd section */

#main2, #main4 {
    padding: 0 10%
}

#main2 h1, #main4 h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    margin: 2%
}
.look-container {
    display: flex;
    margin-bottom: 3%;
    justify-content: center;
    flex-wrap: wrap
}
.look-item {
    text-align: center;
    margin-right: 1rem;
    margin-top: 1rem;
}
.look-image-container {
    width: 175px;
    height: 175px;
    margin-bottom: 8%
}
.look-image-container img {
    width: 100%;
    height: 100%;
}
.look-item h3 {
    margin-top: 5%;
    font-weight: 200
}
.look-item h2 {
    font-weight: bolder;
    margin-top: 2px
}
/* 3rd Section */
#main3 {
    display: flex;
    height: 70vh
}
.main3-content {
    width: 35%;
    background-color: black;
    color: white;
    padding: 0 4%;
    text-align: center;
}
.main3-content h1 {
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 30%
}
.main3-content h5 {
    font-size: 1.7rem;
    font-weight: 100;
    margin-top: 2%
}
.main3-content button {
    margin-top: 4%;
    font-size: .9rem;
    text-transform: uppercase;
    border: none
}
.main3-image {
    width: 65%;
    background-image: url(/images/jakob-owens-Np_nvRuhpUo-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/* main5 */
#main5 {
    padding: 0 2%
}
.main5-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 0 10%
}
.main5-item {
    flex: auto
}
.main5-item-image {
 height: 300px
}
.main5-item-image img {
    width: 100%;
    height: 100%
}
.main5-item h2, .main5-item p {
    text-align: center;
    text-transform: uppercase;
}
.main5-item h2 {
    margin-top: 2rem
}
.main5-item p {
    margin-top: 5px
}
.main5-item button {
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 3%;
    margin-top: 1.5%;
    border: none}
#main6 {
    height: 75vh;
    background-image: url(/images/kelly-sikkema--YYSC6kwPF8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 25%;
    color: rgb(187, 179, 179);
    margin: 2% 0;
    padding-top: 10%
}
.main6-content {
    width: 30%;
    margin-left: auto;
    color:black;
    padding-right: 5%

}
.main6-content h1 {
    font-size:  2.5rem;
    text-transform: uppercase;
}
.main6-content h6 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-left: 2rem;
}
.main6-content button {
    margin-top: 2%;
    text-transform: uppercase;
    background-color: black;
    color: white;
    border: none
}
/* 7th section */
#main7  {
    text-align: center;
    margin-bottom: 1%;
}
#main7 h1 {
    text-transform: uppercase;;
    color: grey
}
.main7-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: space-evenly;
    grid-gap: 2%;
    padding: 0 10%
}
#main7 h5 {
    font-size: 1.1rem;
    margin: .5rem 0
}
#main7 p {
    margin: .2rem 0
}
.main7-item img {
    height: 100%;
    width: 100%
}
/* 8th section */
#main8 {
    display: flex;
    background-color: black;
    padding: 2% 4%;
}
.main8-1 {
    width: 75%;
    color: white;
    padding: 4%
}
.logo-footer {
    margin-top: 7%;
    margin-left: -1.5rem
}
.main8-2 {
    width: 25%;
    color: white;
    padding-top: 5%
}
.horizontal-lines {
    display: flex;
    margin-top: 9%;
}
.horizontal-line {
    height: 2px;
    width: 45%;
    background-color: white;
    margin-right: 8px;
}
.links-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 2rem
}
.links-container > div:nth-child(even) {
    margin-top: 11%
}
.links-items h4 {
    margin-bottom: .5rem
}
.links-items ul li {
    list-style: none;
    margin-top: .6rem
}
.links-items ul li a {
    text-decoration: none;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem
}
.links-items ul li a:hover {
    color: white
}
.main8-2 h4 {
    margin-top: 11%
}
.main8-2 input {
    margin: 5% 0 10%;
    border: 2px solid white;
    font-size: .8rem;
    width: 100%;
    padding: 4%
}
.icon-container {
    font-size: 1.25rem;
    margin-top: 6%
}
.icon-container i {
    margin: 0 5%
}

@media (min-width: 2560px) {
    .logo {
        margin-left: 15rem
    }
    .title {
        margin-right: 15%
    }
    .first-button {
        margin-left: 85%
    }
    .searchbar {
        width: 10%
    }
    .main3-content h1 {
        margin-top: 60%
    }
    .main5-container, .main7-container {
        padding: 0 27%
    }
    .main6-content h1 {
        margin-top: 50%
    }
    
    .button-container button:first-child {
        margin-right: 4rem;
   }
    
}

    @media (max-width: 1440px) {
        .title {
            margin-right: 2rem
        }
        .first-button {
            margin-left: 80%
        }
        .button-container button:first-child {
            margin-right: 2rem;
       }
    }
    @media (max-width: 1024px) {
        .searchbar {
            margin-left: auto;
        }
        .alert p {
            font-size: .8rem
        }
        .header ul li a, .icons i {
            font-size: .9rem
        }
        .title h1, 
        #main2 h1,
        #main-content h1, 
        #main4 h1, 
        .main6-content h1 {
            font-size: 2rem
        }
        .main5-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
            grid-gap: 1rem;
            padding: 0 10%
        }
       .first-button {
            margin-right: 0;
            margin-left: 70%
       }

       .main3-content h1 {
           font-size: 2rem;
           margin-top: 20%
       }
       .main3-content h5 {
           font-size: 1.5rem
       }
       .main3-content button {
           font-size: 1rem
       }
       h2 {
           font-size: 1.2rem
       }
       .main5-item {
           margin-top: 2rem
       }
       #main7 {
           margin-bottom: 1rem
       }
    }
        @media (min-width: 769px) {
            .icon, .topnav {
                display: none
            }
        }

        @media (max-width: 768px) {
           
           .logo, header ul {
               margin: 0
           }
         
        .look-image-container {
            width: 150px;
            height: 150px;
            margin-bottom: 8%
        }
        .button-container button, 
        .main3-content button,
        .main6-content button {
            font-size: .8rem
        }
        .button-container button:first-child {
            margin-right: 1rem;
       }
       #main2, #main4 {
        padding: 0 6%
    }
       #main7 {
           margin-bottom: 1rem
       }
       .main7-container {
        padding: 0 10%
    }
       #main8 {
           display: block;
       }
       .main8-1 {
           width: 100%
     }
       .main8-2 {
           width: 40%
       }
       .logo, .header ul {
           display: none
       }
       .icon {
           display: block;
           color: white;
           margin-left: 1rem;
           margin-right: 1rem
       }
       .searchbar {
           margin-left: auto
       }
        .topnav {
            background-color: #333;
            position: relative;
        }
        .topnav #myLinks {
            display: none;
        }
        .topnav a {
            color: white;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            display: block;
            background-color: black
        }
        .topnav a.icon {
            background: black;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
        }
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }
        .active {
            background-color: #4CAF50;
            color: white;
        }
        .header {
            height: 55px
        }
    }

    @media (max-width: 425px) {
        body {
            width: 100%;
            margin-right: 0;
            overflow-x: hidden;
        }
        #main1 {
            height: 55vh
        }
        #main2, #main4, #main7 {
            padding-top: 2rem
        }
        .button-container button:first-child {
            margin-left: 25%
        }
        .button-container button {
            font-size: .6rem
        }
        .look-container {
            display: block
        }
        .searchbar {
            margin-left: auto;
            width: 8rem
        }
        .title {
            width: 80%;
            margin-top: 20%;
            margin-left: 10%;
        }
        .title h1, .title h5 {
            text-align: center;
        }
        .look-item {
            margin-top: 1rem;
            padding: 2%;
            width: 100%;
        }
        .look-image-container {
            width: 70%;
            margin: 0 15%;
         object-fit: cover;
        }
        .main3-content {
            width: 50%;
            padding-left: 2rem
        }
        .main3-image {
            width: 50%
        }
        .main6-content {
            width: 80%;
            margin: 10%
        }
        #main7 {
            margin-bottom: 11rem
        }
        #main8 {
            padding-bottom: 2rem;
        }
        .main8-2 {
            width: 80%;
            margin: 0 10%;
        }
        .links-container {
            display: block
        }
        .links-items {
            margin-bottom: 1rem;
            text-align: center;
        }
        .links-container > div:nth-child(even) {
            margin-top: 0
        }
        .horizontal-lines > div:last-child {
            display: none
        }
        .horizontal-lines > div:nth-child(2) {
            width: 100%
        }
        .button-container button:first-child {
            margin-right: 1rem;
       }
    }

    @media (max-width: 375px) {
        #main7 {
            margin-bottom: 10rem
        }

        .main8-2 {
            margin-top: -2rem
        }
        .main3-content {
            width: 100%
        }
    .main3-image{
        display: none
    }
    }

    @media (max-width: 320px) {
        .button-container button:first-child {
            margin-left: 0
        }
    }
